#jinja2: lstrip_blocks: True
no service pad
service tcp-keepalives-in
service tcp-keepalives-out
service timestamps debug datetime msec localtime show-timezone year
service timestamps log datetime msec localtime show-timezone year
service password-encryption
service linenumber
service compress-config
service sequence-numbers
no platform punt-keepalive disable-kernel-core
!
hostname {{ device.json.results[0]['name'] }}
!
boot-start-marker
boot-end-marker
!
!
vrf definition Mgmt-intf
 !
 address-family ipv4
 exit-address-family
 !
 address-family ipv6
 exit-address-family
!
security authentication failure rate 5 log
logging count
no logging message-counter syslog
logging userinfo
logging buffered notifications
!
aaa new-model
!
!
no ip bootp server
{% for name_server in device.json.results[0].config_context['name-servers'] %}
ip name-server {{ name_server }}
{% endfor %}
!
spanning-tree extend system-id
!
redundancy
 mode none
!
!
lldp run
!
{% for intf in interfaces.json.results %}
interface {{ intf.name }}
  {% if intf.description %}
  description {{ intf.description }}
  {% endif %}
    {% for ip in ip_addresses.json.results %}
      {% if ip.assigned_object.name == intf.name %}
  ip address {{ ip.address.split('/')[0] }} {{ ip.address | ansible.utils.ipaddr('netmask') }}  
      {% endif %}
    {% endfor %}
  no shutdown
!
{% endfor %}
!
snmp-server community {{ device.json.results[0].config_context['snmp-ro-community'] }} RO 
snmp-server location {{ site.json.results[0]['region']['name'] }} [{{ site.json.results[0]['latitude'] }},{{ site.json.results[0]['longitude'] }}] 
!
logging source-interface GigabitEthernet0
{% for syslog_server in device.json.results[0].config_context['syslog-servers'] %}
logging host {{ syslog_server }} transport udp port 1514
{% endfor %}
!
line con 0
 logging synchronous
 stopbits 1
line aux 0
 stopbits 1
!
{% for ntp_server in device.json.results[0].config_context['ntp-servers'] %}
ntp server {{ ntp_server }}
{% endfor %}
!
end

